@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family:'HankenGrotesk' ;
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root{
    --font01:'HankenGrotesk';
}

main{
    background-color:gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--font01);
}

.left-card{
    background-color: rgb(65, 65, 172);
    border-radius: 10px;
    padding: 20px;
    color: azure;
    min-height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

h1{
    font-size: 20px;

}

.circle{
    background-color: blue;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 180px;
    width: 180px;
    background-image: linear-gradient(to bottom, rgb(2, 2, 143),rgb(75, 75, 189));
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.144);
}

.num{
    font-size: 10vh;
    color:aliceblue;
    font-weight: bold;   
}

.right-card{
    background-color: azure;
    padding: 15px;
    min-height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.min-cards{
    padding: 15px 0px 15px 10px;
}

.red{
    background-color: rgba(255, 0, 0, 0.295);
    padding: 10px;
    display: flex;
    gap: 8px;
    border-radius: 10px;
}

.yellow{
    background-color:yellow;
    padding: 10px;
    display: flex;
    gap: 8px;
    border-radius: 10px;
}

.green{
    background-color: green;
    padding: 10px;
    display: flex;
    gap: 8px;
    border-radius: 10px;
}

.blue{
    background-color: blue;
    padding: 10px;
    display: flex;
    gap: 8px;
    border-radius: 10px;
}

.btn{
    width: 70%;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(12, 12, 54);
    color: azure;
    letter-spacing:1.5px;
}







